@page
@model Mission09_kbing321.Pages.PurchaseConfirmationModel
@{
}

<div class="text-center">
    <h2>Thank you! Your purchase has been completed.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>
